@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 select-none box-border scroll-smooth  
}

body {
  @apply min-h-screen bg-[url("./assets/10.jpg")] bg-cover
}

@font-face {
  font-family: "Minebold";
  src: url("./assets/Minebold.otf");
}

.Bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.Circle {
  border-radius: 81% 19% 71% 29% / 45% 74% 25% 55%;
}

